{
  "appBarColor": "",
  "oidc": {
    "jpm": {
      "authorizationEndpoint": "",
      "clientId": "",
      "redirectUri": "",
      "scopes": "",
      "mfaEndpoint": "",
      "postLogoutRedirectUri": ""
    }
  },
  "mafildb": {
    "apiUrl": "",
    "visitsMaxDaysOld": ""
  }
}
